/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }

  
  
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 147%;
  }
  
 
  
  .button {
    width: 100%;
    background-color: blue;
    color: #fff;
    border: 1px solid #fff
  }
  
  .button-alt {
    color: blue;
    background-color: #fff;
  }
  
  /* ---- section ---- */
  
  .container {
    width: 1440px;
  }

  .splash-screen {
    width: 100vw;
    height: 100vh;
    background-image: url("bombermanwallpaper.jpg");
    background-repeat: no-repeat;
  }

  .game-over {
    width: 100vw;
    height: 100vh;
    background-image: url("game-over-1440x900.jpg");
    background-repeat: no-repeat;
  }


  .caja {
    display: flex;
    width: 1440px;
  }

  .game-screen {
    height: 550px;
    display: flex;

  }

  canvas {
    position: relative;
    width: 550px;
  }

  .animation1 {
    background-color: green;
    width: 445px;
    height: 550px;
  }

  .animation2 {
    background-color: blue;
    width: 445px;
    height: 550px; 
  }

  .caja2 {
    display: flex;
    top: 550px;
    height: 38.8vh;
    width: 1440px;
  }

  .player1 {
    background-color: greenyellow;
    width: 720px;
    text-align: center;
    display: flex;
    flex-direction: column; 
  }
  .player2 {
    background-color: aquamarine;
    width: 720px;
    text-align: center;
    display: flex;
    flex-direction: column; 
  }

  .eye1 {
    position: absolute;
    width: 80px; 
    height: 80px;
    top: 150px;
    left: 80px;
    background-color: white;
    border-radius: 100%;
    margin: 0;
    display: inline-block;
  }

  .eye2 {
    position: absolute;
    width: 80px; 
    height: 80px;
    top: 150px;
    left: 260px;
    background-color: white;
    border-radius: 50%;
    margin: 0;
    display: inline-block;
  }

  .eye11 {
    position: absolute;
    width: 30px; 
    height: 30px;
    top: 25px;
    left: 25px;
    background-color: black;
    border-radius: 100%;
    margin: 0;
    display: inline-block;
  }

  .eye22 {
    position: absolute;
    width: 30px; 
    height: 30px;
    top: 25px;
    left: 25px;
    background-color: black;
    border-radius: 50%;
    margin: 0;
    display: inline-block;
  }

  .mouth {
    position: relative;
    width: 260px; 
    height: 80px;
    top: 300px;
    left: 80px;
    background-color: white;
    margin: 0;
    display: inline-block;
    animation: open 3s infinite alternate;
  }
  
  @keyframes open {
    0% {
      height: 80px;
      width: 260px;
      left: 80px;
      top: 300px;
      border-radius: 25%;
    }
  
    
    100% {
      height: 30px;
      width: 30px;
      left: 200px;
      top: 320px;
      border-radius: 50%;
    }
  }


  .eye3 {
    position: absolute;
    width: 80px; 
    height: 80px;
    top: 150px;
    left: 1080px;
    background-color: white;
    border-radius: 100%;
    margin: 0;
    display: inline-block;
  }

  .eye4 {
    position: absolute;
    width: 80px; 
    height: 80px;
    top: 150px;
    left: 1260px;
    background-color: white;
    border-radius: 50%;
    margin: 0;
    display: inline-block;
  }

  .mouth2 {
    position: relative;
    width: 260px; 
    height: 80px;
    top: 300px;
    left: 80px;
    background-color: white;
    margin: 0;
    display: inline-block;
    animation: open 2s infinite alternate;
  }


  .caja2 h1 {
    font-size: 3em;
  }
  

  .player1 p {
    font-size: 1.5em;
    line-height: 1.5;
    margin: 0 250px;
  }

  .player2 p {
    font-size: 1.5em;
    line-height: 1.5;
    margin: 0 200px;
  }
  
